<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test1">
    <classes>
      <class name="com.selenium.Alerts"/>
      <class name="com.selenium.GetVerify"/>
    </classes>
   </test>
    <test name="Test2">
    <classes>
      <class name="com.selenium.Alerts"/>
      <class name="com.selenium.GetVerify"/>
    </classes>
    </test> 	
</suite> <!-- Suite -->
